@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.search {
  height: 50vh;
  width: 100vw;
  background: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  position: relative;
}

.search-box {
  width: 100%;
}

.search-input {
  width: 100%;
  padding: 1rem 5rem 1rem 5rem;
  font-family: "Roboto", "sans-serif";
  font-size: 2em;
  border: none;
  border-radius: 50px;
}

.left-bar {
  position: absolute;
  width: 100%;
  pointer-events: none;
}

.left-bar .mic {
  pointer-events: all;
  cursor: pointer;
  font-size: 2em;
  margin-left: 2rem;
  color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.left-bar .mic:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
  color: black;
}

.right-bar {
  position: absolute;
  width: 100%;
  pointer-events: none;
}

.right-bar .search-btn {
  pointer-events: all;
  cursor: pointer;
  font-size: 2em;
  float: right;
  margin-right: 2rem;
  color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.right-bar .search-btn:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
  color: black;
}

@media screen and (max-width: 600px) {
  .search-btn {
    font-size: 1.5em !important;
    margin-right: 1rem !important;
  }
  .mic {
    font-size: 1.5em !important;
  }
  .search-input {
    font-size: 1em !important;
  }
}

.result {
  overflow: hidden;
  margin: 0 0 5rem 0;
}

.result .result-title {
  margin: 2rem 0rem;
  font-size: 3em;
  font-family: "Roboto", "sans-serif";
  text-align: center;
  color: black;
}

.result .result-description {
  margin: 2rem 0rem;
  font-size: 2em;
  font-family: "Roboto", "sans-serif";
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.result .result-about {
  margin: 2rem 5rem 2rem 5rem;
  font-size: 2em;
  font-family: "Roboto", "sans-serif";
  line-height: 1.6;
  word-spacing: 1em;
  color: rgba(0, 0, 0, 0.6);
}

.result .images {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */